<!--{{{body}}}, replaces main-->
    <main>
        <!---->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Topics</h2>
                <div class="leftList">
                    <ul>
                        <!--Needs code to fill elements-->
                        <li>Placeholder1</li>
                        <li>Placeholder2</li>
                        <li>Placeholder3</li>
                    </ul>
                </div>
            </div>
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTopicPostTitle">{{topic_title}}</h2>
                    <p>{{topic_text}}</p>
                    <button type="button" id="createPost">Create</button>
                </div>
                <div class="rightTopicList">
                    <ul>
                        {{#each posts as |posts|}}
                        <li>
                            <div class="topicList">
                                <p class="username">{{posts.dataValues.user_id}}</p>
                                <p class="postText">{{posts.dataValues.text}}</p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    
    </main>