<main>
        <!--Box to display topics, title of box, and button all need more styling - category list needs styling
        Create topic button needs to be linked-->
        <div class="bodyContainer">
            <div class="displayBlockLeft">
                <h2 class="leftTitle">Categories</h2>
                <div class="leftList">
                    <div>
                        {{#each categories as |category|}}
                        <a href= "/categories/{{id}}"><h3>{{category.title}}</h3></a>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="displayBlockRight">
                <div class="topicPostTitle">
                    <h2 class="rightTopicPostTitle">{{category_title}}</h2>
                   <a href="/submittopic/{{category_id}}" <!--id="createTopic"-->>Create</a>
                </div>
                {{#each topics as |topic|}}
                <div class="rightTopicList">
                    <div class="topicList">
                        {{!-- <p class="username">{{user.username}}</p> --}}
                        <a href="/topics/{{topic.dataValues.id}}"><h4 class="topicText">{{topic.dataValues.title}}</h4></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    
    </main>